.appContainer {
    display: flex;
    flex-direction: column; /* Stacks the children vertically */
    height: 100vh; /* Full viewport height */
    

    
    /* background-image: url('./assets/main/ubc-fountain-g.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; */
  }

  @media (max-width: 480px) {
    .appContainer {
      min-width: 350px;
      /* max-width: 480px; */
    }
  }