.appContainer {
    display: flex;
    flex-direction: column; /* Stacks the children vertically */
    min-height: 100vh; /* Full viewport height */

    
    /* background-image: url('./assets/main/ubc-fountain-g.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; */
  }