.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    background: radial-gradient(
        circle, /* Shape of the gradient */
        rgba(255, 255, 255, 0.9), /* center */
        rgba(255, 255, 255, 0.75)  /* corners */
      );      
    position: relative; /* Ensure the container can be layered above the main background */
    z-index: 3; /* Placing it above the background */
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center; /* Centers horizontally inside each grid item */
    align-items: center; /* Centers vertically inside each grid item */
}

.chartContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 450px; */
    width: 45%;
    height: 320px;
    top: 50px;
    left: 20px;
    transition: min-width 0.2s ease; 
}


.tableContainer {
    position: absolute;
    width: 45%;
    max-height: 386px;
    top: 50px;
    right: 30px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
  }
  
  table th, table td {
    padding: 8px 3px;
    text-align: center;
    /* border: 1px solid #b6b6b6; */
  }
  
  table th {
    flex-direction: column;
    background-color: #002145;
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }

  table td {
    color: #002145;
    font-weight: 400;
    font-size: 1rem;

  }

  .tableNote {
    margin-top: 10px;
    font-weight: 400;
    font-size: 0.85rem;
    font-style: italic;
  }

  .withPointerClick {
    cursor: pointer;
  }

  .noPointerClick {
    cursor: auto;
  }


  @media (max-width: 1080px) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;  /* Center children horizontally */    
      justify-content: center; 
      margin-top: 450px;
    }

    .tableContainer {
      top: 0;
      left: 0;
      position: relative; 
      max-width: none;
      width: 80%;
      margin-top: 50px;
      margin-bottom: 20px;

    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 0px;
    }
    
    .chartContainer {
      top: 0;
      left: 0;
      width: 80%;
      position: relative; 
      margin-bottom: 20px;
      margin-top: 50px;
    }
 }


 @media (max-width: 768px) {
  .card {
    margin-top: 200px;
  }
  .tableContainer {
    margin-bottom: 20px;
    margin-top: 50px;
    /* padding-left: 50px; */
  }

  table {
    border-collapse: collapse;
    margin-top: 0px;
  }
  
  .chartContainer {
    top: 0;
    left: 0;
    position: relative; 
    /* min-width: 421px; */
    margin-bottom: 20px;
    margin-top: 50px;
  }
}


@media (max-width: 620px) { 
  .card {
    margin-top: 450px;
  }

  .tableContainer {
    
  }
}


 @media (max-width: 480px) {
  .card {
    margin-top: 450px;
  }

  .tableContainer {
    max-width: 400px;  
    min-width: 320px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-left: 0px;
  }

  .chartContainer {
    max-width: none;  
    min-width: 320px;
    width: auto;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}