.main {
  position: relative;
  margin-top: 150px;
  width: 100%;
  height: 100vh; /*navbar position is fixed, so the main here takes the entire space of app container*/ 
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
    background-image: url('../../assets/main/ubc-fountain-g.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    /* min-width: 100vw; */
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.mainContainer::after {
    content: '';                                   
    position: absolute;                           
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;                                    
    background: radial-gradient(
        circle, /* Shape of the gradient */
        rgba(255, 255, 255, 0.8), /* center */
        rgba(255, 255, 255, 0.5)  /* corners */
      );    
      z-index: 1;                                  
  }

.spinnerContainer {
  position: absolute;                           
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle, /* Shape of the gradient */
    rgba(0, 33, 69, 0.3), /* center */
    rgba(0, 33, 69, 0.8)  /* corners */
  );    
  z-index: 100;
}

.spannerMsg {
  padding: 10px 0px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}


/* @media (max-width: 1100) {
  .mainContainer {
    min-width: 100%; 
  }
} */


/* @media (max-width: 1080px) {
  .main {
    margin-top: 200px;
  }
}

@media (max-width: 620px) {
  .main {
    margin-top: 650px;
  }
} */

@media (max-width: 480px) {
  .main {
    min-width: 350px;
    max-width: 480px;
  }
}