.main {
    background-image: url('../../assets/main/ubc-fountain-g.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    min-height: 100vh;/* use min-height to ensure the all main area is covered by the background image*/
    position: relative;
    margin-top: 150px;
    /* margin-bottom:10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
  }

.main::after {
    content: '';                                   
    position: absolute;                           
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;                                    
    background: radial-gradient(
        circle, /* Shape of the gradient */
        rgba(255, 255, 255, 0.8), /* center */
        rgba(255, 255, 255, 0.5)  /* corners */
      );    
      z-index: 1;                                  
  }

.spinnerContainer {
  position: absolute;                           
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle, /* Shape of the gradient */
    rgba(0, 33, 69, 0.3), /* center */
    rgba(0, 33, 69, 0.8)  /* corners */
  );    
  z-index: 100;
}

.spannerMsg {
  padding: 10px 0px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}