.main {
    background-image: url('../../assets/main/ubc-fountain-g.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.main::after {
    content: '';                                   
    position: absolute;                           
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;                                    
    background: radial-gradient(
        circle, /* Shape of the gradient */
        rgba(255, 255, 255, 0.8), /* center */
        rgba(255, 255, 255, 0.5)  /* corners */
      );    
      z-index: 1;                                  
  }

  .cardContainer {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    position: relative; /* Ensure the container can be layered above the main background */
    z-index: 2; /* Placing it above the background */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
