.sliderContainer {
    z-index: 2; /* Placing it above the background */
    width: 950px;
    height: 550px;
    padding-top: 30px;
    padding-left: 0px;
}

.slide {
    height: 450px;
}

.pagination {
    height: 46px;
    display: flex;
    justify-content: center;
    /* padding-top: 5px; */
    z-index: 100;
    border: 1px, solid, darkgray;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  }
.pagination p {
    /* border: 1px solid black; */
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 360;
}