.sliderContainer {
    z-index: 2; /* Placing it above the background */
    width: 950px;
    height: 550px;
    padding-top: 30px;
    padding-left: 0px;
}

.slide {
    height: 450px;
}

.pagination {
    margin-top: 450px;
    z-index: 1000;
  }