.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #002145, #002145);
    width: 100vw;
    height: 150px;
    z-index: 1000; /* Ensure navbar stays on top */
}

.textContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 50px;
    padding: 20px 0px;
}

.textContainer h1 {
    font-size: 2rem;;
}

.selectContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    width: 60%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid white;
    background-color: white;
    color: black;
}

/* Dept Menu */
.deptsMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    height: 100%;
    position: relative;
}

.deptDropdownMenu {
    width: 150px;
    font-size: 1rem;
    font-weight: 500;
    padding: 3px;
    border-radius: 5px;
    border: 1px dashed rgb(225, 223, 223);
    cursor: pointer;  
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.searchInputContainer {
    width: 150px;
    max-height: 350px; /* Set a maximum height */
    position: absolute;
    /* border: 1px solid black; */
}
  
.searchInputField {
    /* box-sizing: border-box; */
    background-image: url('../../assets/navbar/search.png');
    background-size: 13% auto;
    background-position: 8px 4px;
    background-repeat: no-repeat;
    font-size: 1rem;
    padding-left: 35px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.searchInputField :focus {
    outline: 3px solid #ddd;
}

.checkboxes {
    width: 150px;
    max-height: 350px; /* Set a maximum height */
    display: flex;
    flex-direction: column;
    border: 1px #dadada solid;
    border-radius: 5px;
    position: absolute;
    color: black;
    background-color: white;
    margin-top: 30px;
    padding: 10px 10px;
    overflow: auto;
}
  
.checkboxes label {
    padding: 5px 0px;
    display: block;
    margin-right: .5rem;
}

.checkboxes label:hover {
    background-color: #1e90ff;
}

.checkboxes input {
    margin-right: .5rem;
}


/* Course level container */
.levelMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    height: 100%;
    border-left: 1px solid #002145;
    border-right: 1px solid #002145;
}

.levelDropdownMenu {
    width: 130px;
    font-size: 1rem;
    font-weight: 500;
    padding: 3px;
    border-radius: 5px;
    border: 1px dashed rgb(225, 223, 223);
	cursor: pointer;    
}

.levelDropdownMenu option {
    font-size: 1rem;
    font-weight: 450;
}

/* Input (year & avg) container */
.inputContainer {
    /* width: 350px;  */
    flex:4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #002145;
    padding-right: 10px;
}

/* Year Range container */
.yearRangeContainer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

.yearRangeContainer span {
    padding: 0px 10px;
}

.yearDropdownMenu {
    width: 70px;
    font-size: 1rem;
    font-weight: 500;
    padding: 3px;
    border-radius: 5px;
    border: 1px dashed rgb(225, 223, 223);
	cursor: pointer;    
}

.yearDropdownMenu option {
    font-size: 1rem;
    font-weight: 450;
}

/* Average Bound container */
.avgBoundContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;

}

.avgBoundContainer span {
    padding: 0px 10px;
}

.avgInputField {
    font-size: 1rem;
    font-weight: 450;
    width: 60px;
    border-radius: 3px;
    border: 1px dashed rgb(225, 223, 223);
}

.submitContainer {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submitBtn {
	margin-left: 20px;
    margin-right: 20px;
    background: #002145;
    border-radius: 10px;
	color: white;
    width: 90px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submitBtn:active {
    background-color: #e0e0d1;
    color: #002145;
    box-shadow: 0 2px #c0c0b8;
    transform: translateY(1px);
}
