.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, #002145, #002145);
    width: 100vw;
    height: 120px;
    z-index: 1000; /* Ensure navbar stays on top */
}

.textContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 50px;
    padding: 20px 0px;
}

.textContainer h1 {
    font-size: 2rem;;
}

.selectContainer {
    height: 100%;
    margin-left: 200px;
    margin-right: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.levelDropdownMenu {
    width: 170px;
    font-size: 1rem;
    font-weight: 450;
    padding: 3px;
    border-radius: 5px;
    border: 5px solid white;
	cursor: pointer;    
}

.levelDropdownMenu option {
    font-size: 1rem;
    font-weight: 450;
}